*{
	box-sizing:border-box;
}

body{
	font-family:Verdana;
	margin:0;
}

header{
	margin:1%;
	width:98%;
	height:250px;
}

.header {
	height:100%;
	text-align:left;
	background-color:#881db8;
	color:white;
	width:100%;
}

.logo{
	max-width:30%;
	float:left;
	padding-left:2%;
	padding-top:30px;
}

.titulo{
	padding-top:85px;
	width:auto;
	padding-left:5%;
	float:left;
}

.container{
	width:96%;
	margin-right:2%;
	margin-left:2%;
	display:flex;
	flex-wrap:wrap;
}

.nav {
	flex:20%;
}

.nav a{
	transition:400ms;
	text-decoration:none;
	color:white;
}

.nav a:hover{
	color:orange;
	font-size:20px;
}

.nav ul{
	width:100%;
	margin:0%;
	padding-top:10px;
	padding-bottom:10px;
}

.nav li{
	text-align:left;
	margin-top:10px;
	margin-bottom:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:70px;
	padding-left:20px;
	list-style-type:none;
	background-color:#22b9f0;
	width:100%;
	
}

.esquerda{
	flex:60%;
	padding:20px;
}

.direita{
	flex:20%;
	background-color:#22b9f0;
	color:white;
	padding:20px;
	text-align:center;
}

footer{
	margin:1%;
}

.footer{
	float:left;
	padding:30px;
	background-color:#1ba1d1;
	text-align:center;
	width:100%;
	color:white;
}

@media screen and (max-width: 700px) {
	.container{
		flex-direction:column;
	}
}

@media screen and (max-width: 820px) {
	.logo{
		padding-top:14px;
	}
}

@media screen and (max-width: 420px) {
	.logo{
		padding-top:70px;
	}
}